* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.top-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
}
.top-navbar div:first-child {
    margin-left: 25vh;
}
.top-navbar div:last-child {
    margin-right: 25vh;
}

.topnav2 {
    display: flex;
    align-items: center;
    /* border: red solid 1px; */
}
.topnav2 ul{
    list-style: none;
    display: flex;
}
.topnav2 li{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1vh;
}
.topnav2 li a{
    color: #000000;
    font-size: large;
    font-weight: bold; /* ทำข้อความให้เป็นตัวอักษรหนา */
    text-decoration: none; 
    display: flex;
    align-items: center;
    justify-self: flex-start;
}
.topnav2 li a img{
    width: 35px;
    height: 35px;
    margin-left: 1px;
}

.main-navbar {
    width: 100%;
    background-color: #e4002b; 
}
.main-navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.main-navbar li{
    display: flex;
    align-items: center;
    border: #ffffff solid 1px;
    border-top: #e4002b solid 1px;
    border-bottom: #e4002b solid 1px;
}
.main-navbar li:not(:first-child){
    border-left: none;
}
.main-navbar li:hover{
    background-color: #000000;
}
.main-navbar li a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 2.5vh 6vh; /* ปรับระยะห่างด้านข้างของรายการ */
}
.main-navbar li a img{
    width: 25px;
    height: 25px;
    margin-right: 5px; /* ระยะห่างระหว่างไอคอนและข้อความ */
}
.main-navbar li:first-child {margin-left: 25vh; /* ปรับระยะห่างระหว่าง li แรกกับฝั่งซ้ายของ main-navbar */}
.main-navbar li:last-child {margin-left: 0;}

.red-container {
    background-color: #e4002b;
    min-height: 65px;
}

/* footer*/
footer {
    display: flex;
    flex-direction: column;
}
/* ปรับขนาดตัวอักษรของข้อความใน footer */
footer h4, footer .about-content a{
    padding: 0.5rem;
    margin: 1vh;
}
footer h4{
    font-size: 18px;
    color: #e4002b;
}

.about-us {
    display: flex; /* ตั้งให้แสดงเนื้อหาในแนวแถว */
    flex-direction: row; 
    justify-content: space-around; 
}

.about-content {padding-bottom: 2vh;}

footer .about-content a{
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-wrap: wrap;
}

.contact-app {
    display: flex;
    align-content: center;
}

.contact-app img{
    width: 30px;
    height: 30px;
    margin: -1vh; /*contact-app - footer h4, footer a */
}

.footer-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
}
footer .footer-copyright a{
    font-weight: 400;
    color: #000;
    text-decoration: none;
}
.col-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px; /* ระยะห่างระหว่างลิงค์และตัวเลือกการแยกแต่ง */
}
.copyright-text {
    display: flex;
    justify-content: center; /* จัดให้ข้อความตรงกลางแนวนอน */
}

.img-footer {
    margin-top: 1rem;
    padding: 5vh;
    display: grid;
    place-self: center;
    width: 20vh; /* ระบุความกว้างเป็น px */
    background-image: url('logo/Self_Pickup_Stripe.png');
    background-size: 100% 100%; /* ให้รูปภาพเต็มพื้นที่ของ div */
}

/* content */
.slideshow {
    max-width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden; /* เพื่อซ่อนสไลด์ที่ไม่ได้อยู่ในขอบเขตของ container */
}

.slides {
    display: flex;
    transition: transform 1.5s ease, opacity 1.5s ease;
}
.slides img {
    width: 100%;
    object-fit: cover;
}

/* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
} */


.prev, .next {
    place-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 2vh;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3.5vh;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    padding: 0.111rem;
    width: 45px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 5%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #424141;
}

.row-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box-a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box-a img{
    width: 62.2vh;
    max-width: 750px;
    height: 100%;
}

.text-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60vh;
    height: 80%;
}
.text-box h3{
    font-weight: bold;
    color: #fff;
}
.text-box a.order-button:hover{
    background-color: #e4002b;
}

.order-button {
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    font-size: large;
    padding: 15px 6vh;
    text-decoration: none;
    border-radius: 2px;
}